<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div>
    <div>
            <ol>
                <li>Number one</li>
                <li>Number two</li>
                <li>Number three</li>
                <li>Number four</li>
                <li>Number fifth</li>
            </ol>
    </div>
    <p>{{ content }}</p>
    {% if xyi%}
        <p>{{ list.1 }}</p>
        <p>{{ dict.first }}</p>
    {% endif %}
    <p>{{ bool }}</p>
</div>

</body>
</html>